/* Général */
a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;

    /* à adapter si jamais le footer cache du contenu du body */
    padding-bottom: 50px;
    padding-top: 100px;
}

/* Menu */
.navigation {
    margin-right: auto;
    padding-left: 30px;
}

nav {
    color: white;
    background-color: #414141;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: auto;
    margin-left: 0;
    gap: 30px;
    padding: 0;
}

nav a {
    color: white;
}


/* Footer */
footer {
    color: white;
    background-color: #414141;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}