/* Paramètres Généraux */
                a {
                    color: rgb(224, 59, 59);
                    text-decoration: none;
                }

                body {
                    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
                    margin: 0;
                    background-color: #adbcdaaf;
                    /* CSS pour l'image de fond :
                    
                    background-image: url("/Documents/Images/fond_bleu_foncé.jpeg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-attachment: fixed; */
                    

                    /* à adapter si jamais le footer cache du contenu du body */
                    padding-bottom: 50px;
                    padding-top: 100px;
                    text-align: center;
                }

/* Menu - nav */
                            .navigation {
                                margin-right: 14%;
                                padding-left: 2%;
                                list-style-type: none;
                            }

                            nav {
                                background-color: #ffffff;
                                position: fixed;
                                top: 0;
                                width: 100%;
                                display: flex;
                                align-items: center;
                            }

                            nav ul {
                                list-style-type: none;
                                display: flex;
                                margin: auto;
                                margin-left: 0;
                                gap: 30px;
                                padding: 0;
                                font-size: 22.5px;
                            }

                            nav a {
                                color: rgb(0, 0, 0);
                            }



/* Bienvenue - header */
                    header ul {
                        list-style-type: none;
                    }

                    header p {
                        font-size: 20px;
                        margin-left: 20%;
                        margin-right: 20%;
                        text-align: center;
                    }



/* Footer */
                footer {
                    color: rgb(0, 0, 0);
                    background-color: #ffffff;
                    text-align: center;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                }